.chess{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #111;
    background-color:burlywood;
}

.black{
    padding: 0;
    margin: 0;
    background-color: brown;
    width: 30px;
    height: 30px;
    border: 1px solid #111;
}

.white{
    padding: 0;
    margin: 0;
    background-color:burlywood;
    width: 30px;
    height: 30px;
    border: 1px solid #111;
}

.coordinate{
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    text-align: center;
}

.rotate{
    transform: rotate(-180deg);
}
